<% content_for :title do %>
  Groups | ログイン 無料グループウェア スケジュール管理 予定 出欠 お知らせ 情報共有
<% end %>
<div class="text-center">
  <h1>ログイン</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control', autocomplete: 'on' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control', autocomplete: 'on' %>
      </div>
      
      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    <% end %>
    
    <p class="text-center"><%= link_to '新規登録はこちら', signup_path %></p>
    <p class="text-center"><%= link_to 'パスワードを忘れた方はこちら', forget_path %></p>
  </div>
</div>
<div class="hatebu_button text-center mt-3">
  <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>