<div class="text-center">
  <h3>『<%= Discussion.find(params[:discussion_id]).title %>』への意見を登録</h3>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @opinion, local: true) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :content, '内容(100字以内)' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :mygroup_id, value: @mygroup_id %>
      <%= f.hidden_field :discussion_id, value: @discussion_id %>
      
      <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>