<div class="border p-3 card">
  <img class="rounded img-fluid mx-auto d-block" src="<%= @mygroup.image.url %>" alt="" width="100" height="100">
  <div class="text-center">
    <h5 class="font-weight-bold"><%= @mygroup.name %></h5>
    <p style="line-height:0.5rem"><span class="text-secondary">地域：</span><%= @mygroup.area %></p>
    <p style="line-height:0.5rem"><span class="text-secondary">カテゴリー：</span><%= @mygroup.category %></p>
    <% if @mygroup.user_id == current_user.id %>
      <div class="btn btn-outline-info mx-auto  btn-sm mb-1">
        <%= link_to '登録情報修正', edit_mygroup_path(@mygroup) %>
      </div>
    <% end %>
  </div>
</div>