<%= render 'mygroups/header' %>

<div class="row">
  <aside class="col-sm-3">
    <%= render 'mygroups/leftside' %>
    <div class="d-flex flex-column mt-2">
      <%= link_to '新規予定登録', new_mygroup_plan_path(mygroup_id: @mygroup.id),class: "btn btn-primary mt-2" %>
    </div>
  </aside>
  
  <aside class="col-sm-9 mt-3 textsm">
    <div class="card">
        <div class="card-header c-height">
          <h5 class="card-title text-center">予定一覧</h5>
        </div>
        
          <table class="table table-style">
            <thead>
              <tr>
                <th style="width:17%">予定日時</th>
                <th style="width:13%">登録者</th>
                <th style="width:15%">タイトル</th>
                <th style="width:25%">内容</th>
                <th style="width:12%">出欠状況</th>
                <th style="width:8%">人数</th>
              </tr>
            </thead>
            <% @plans.each do |plan| %>
            <tbody>
              <tr>
                <td><%= plan.start_time.strftime("%Y-%m-%d") %>/<%= plan.plan_at.strftime("%H:%M") %></td>
                <td><%= User.find(plan.user_id).name %></td>
                <td><%= link_to plan.title, plan_path(plan) %></td>
                <td><%= plan.content.truncate(15, omission: '…') %></td>
                <td class="text-center"><%= render 'attendances/attend_button', plan: plan %></td>
                <td class="text-center"><%= Attendance.where(plan_id: plan.id).count %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
    </div>
    <%= paginate @plans %>
  </aside>
  
  <aside class="col-sm calendar">
  <%= month_calendar events: @plans_for_calender do |date, plans| %>
    <%= date.day %>
      <% plans.each do |plan| %>
        <div>
          <%= link_to plan.title, plan_path(plan) %>
        </div>
      <% end %>
    <% end %>
  </aside>
</div>