<%= render 'mygroups/header' %>

<div class="row">
  <aside class="col-sm-3">
    <%= render 'mygroups/leftside' %>
    <div class="d-flex flex-column mt-2">
      <%= link_to new_mygroup_plan_path(mygroup_id: @mygroup.id),class: "btn btn-primary make-btn mt-2" do %>
        <i class="fas fa-calendar-alt" style="color:hotpink;"></i> 予定登録
      <% end %>
    </div>
  </aside>
  
  <aside class="col-sm-9 mt-3 textsm">
    <!--PC表示-->
    <div class="card pc_area">
        <% if @plans.presence %>
          <div class="card-header c-height">
            <h5 class="card-title text-center"><i class="fas fa-calendar-alt" style="color:hotpink;"></i> 予定一覧</h5>
          </div>
            <table class="table table-style">
              <thead>
                <tr>
                  <th style="width:16%">予定日</th>
                  <th style="width:12%">開始時間</th>
                  <th style="width:18%">タイトル</th>
                  <th style="width:33%">内容</th>
                  <th style="width:11%">出欠状況</th>
                  <th style="width:10%">人数</th>
                </tr>
              </thead>
              <% @plans.each do |plan| %>
              <tbody>
                <tr>
                  <td><%= plan.start_time.strftime("%Y-%m-%d") %></td>
                  <td><%= plan.plan_at.strftime("%H:%M") %></td>
                  <td><%= link_to plan.title.truncate(10, omission: '…'), plan_path(plan) %></td>
                  <td><%= plan.content.truncate(13, omission: '…') %></td>
                  <td class="text-center"><%= render 'attendances/attend_button', plan: plan %></td>
                  <td class="text-center"><%= Attendance.where(plan_id: plan.id).count %></td>
                </tr>
              </tbody>
              <% end %>
            </table>
        <% else %>
          <div class="text-center mt-2">
            <p><i class="far fa-lightbulb" style="color:gold;"></i>【予定登録】ボタンから予定を登録できます。</p>
            <p>登録後、出欠状況欄のボタンで<出席・欠席>の変更ができます。</p>
          </div>
        <% end %>
    </div>
    
    <!--Phone表示-->
    <div class="card phone_area">
      <% if @plans.presence %>
        <div class="card-header c-height">
          <h5 class="card-title text-center"><i class="fas fa-calendar-alt" style="color:hotpink;"></i> 予定一覧</h5>
        </div>
          <table class="table table-style">
            <thead>
              <tr>
                <th style="width:25%">予定日</th>
                <th style="width:15%">時間</th>
                <th style="width:28%">タイトル</th>
                <th style="width:20%">出欠状況</th>
                <th style="width:12%">人数</th>
              </tr>
            </thead>
            <% @plans.each do |plan| %>
            <tbody>
              <tr>
                <td><%= plan.start_time.strftime("%Y-%m-%d") %></td>
                  <td><%= plan.plan_at.strftime("%H:%M") %></td>
                <td><%= link_to plan.title.truncate(8, omission: '…'), plan_path(plan) %></td>
                <td class="text-center"><%= render 'attendances/attend_button', plan: plan %></td>
                <td class="text-center"><%= Attendance.where(plan_id: plan.id).count %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
      <% else %>
        <div class="text-center mt-2">
          <p><i class="far fa-lightbulb" style="color:gold;"></i>【予定登録】ボタンから予定を登録できます。</p>
          <p>登録後、出欠状況欄のボタンで<出席・欠席>の変更ができます。</p>
        </div>
      <% end %>
    </div>
    
    <%= paginate @plans %>
  </aside>
  
  <aside class="col-sm calendar">
  <%= month_calendar events: @plans_for_calender do |date, plans| %>
    <%= date.day %>
      <% plans.each do |plan| %>
        <div>
          <%= link_to plan.title, plan_path(plan) %>
        </div>
      <% end %>
    <% end %>
  </aside>
</div>