<div class="text-center">
  <h1>グループ登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @mygroup, local: true) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :group_id, 'グループID(半角英小文字と数字の組合せで6字以上)' %>
        <p><small class="text-muted">※メンバーが参加する際に必要になります</small></p>
        <%= f.text_field :group_id, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, 'グループ名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :area, '地域' %>
        <%= f.select :area, Mygroup.areas.keys, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category, 'カテゴリー' %>
        <%= f.text_field :category, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :image, 'アイコン画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>