<div class="text-center">
  <h1>グループに参加</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @relationship, local: true) do |f| %>
       <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :group_id, 'グループID(半角英数字6字以上)' %>
        <%= f.text_field :group_id, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, 'グループ名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <%= f.submit '参加する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
