<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <div class="card text-center">
          <div class="card-header">
            <h3 class="card-title　mx-auto"><i class="fas fa-id-card" style="color: darkorange;"></i>My Profile</h3>
          </div>
          <div class="card-body border-info">
            <img class="rounded img-fluid" src="<%= @user.image.url %>" alt="" width="70" height="70">
            <h4><%= @user.name %></h4>
            <% if @user.id == current_user.id %>
              <%= link_to '登録情報修正', edit_user_path(@user), class: "btn btn-outline-info mx-auto  btn-sm mb-1"%>
            <% end %>
          </div>
      </div>
      <div class="d-flex flex-column mt-2">
        <%= link_to 'グループに参加する', join_path(@user), class: "btn btn-primary mt-2" %>
        <%= link_to 'グループを作成する', new_mygroup_path, class: "btn btn-primary mt-2" %>
      </div>
    </aside>
    
    <div class="col-sm-8 textsm mt-3">
      <div class="card">
        <div class="card-header c-height">
          <h5 class="card-title text-center">参加グループ一覧<span class="mg-left"><i class="far fa-flag"></i>あなたの作成したグループ</span></h5>
          
        </div>
        <table class="table table-style">
          <thead>
            <tr>
              <th style="width:25%"></th>
              <th style="width:23%">グループ名</th>
              <th style="width:15%">地域</th>
              <th style="width:37%">カテゴリ</th>
            </tr>
          </thead>
          <% @made_mygroups.each do |mygroup| %>
          <tbody>
            <tr>
              <td><img class="rounded img-fluid mx-auto d-block" src="<%= mygroup.image.url %>" alt="" width="50" height="50"></td>
              <td><i class="far fa-flag"></i>&ensp; <%= link_to mygroup.name, mygroup_path(mygroup) %></td>              
              <td><%= mygroup.area %></td>
              <td><%= mygroup.category %></td>
            </tr>
          </tbody>
          <% end %>
            
          <% @mygroups.each do |mygroup| %>
            <% if mygroup.user_id != current_user.id %>
              <tbody>
                <tr>
                  <td><img class="rounded img-fluid mx-auto d-block" src="<%= mygroup.image.url %>" alt="" width="50" height="50"></td>
                  <td><%= link_to mygroup.name, mygroup_path(mygroup) %></td>
                  <td><%= mygroup.area %></td>
                  <td><%= mygroup.category %></td>
                </tr>
              </tbody>
            <% end %>
          <% end %>
          <%= paginate @mygroups %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron home">
    <div class="text-center">
      <h1>Groups</h1>
      <h5>group of yours</h5>

      <p class="text-secondary mt-5"><%=link_to 'about Groups', about_path %></p>
    
      <%= link_to signup_path, class: 'btn btn-lg btn-primary mt-5' do%>
       <i class="far fa-hand-point-right faa-horizontal animated"></i> 新規登録はこちら
      <% end %>
    </div>
  </div>
<% end %>