<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <!--PC-->
      <div class="card text-center  pc_area">
        <div class="card-header">
          <h3 class="card-title mx-auto"><i class="fas fa-id-card" style="color: darkorange;"></i>My Profile</h3>
        </div>
        <div class="card-body border-info">
          <img class="rounded img-fluid" src="<%= @user.image.url %>" alt="ユーザーアイコン" width="70" height="70">
          <h4><%= @user.name %></h4>
          <% if @user.id == current_user.id %>
            <%= link_to '登録情報修正', edit_user_path(@user), class: "btn btn-outline-info mx-auto  btn-sm mb-1"%>
          <% end %>
          <% if @user.email == 'k.nomoto1225@gmail.com' %>
            ユーザー数<%= User.all.count %>
          <% end %>
        </div>
      </div>
      <!--PHONE-->
      <div class="phone_area">
        <div class="card mb-2">
          <div class="card-header p-1">
            <h5 class="card-title mx-auto"><i class="fas fa-id-card" style="color: darkorange;"></i>My Profile</h6>
          </div>
          <div class="row no-gutters align-items-center text-center">
            <div class="col-4">
              <img class="rounded mx-auto d-block center_card_img" src="<%= @user.image.url %>" alt="ユーザーアイコン" width="80" height="80">
            </div>
            <div class="col-8 text-center">
              <div class="card-body center_card">
                <h5 class="font-weight-bold"><%= @user.name.truncate(10, omission: '…') %></h5>
                <% if @user.id == current_user.id %>
                  <%= link_to '登録情報修正', edit_user_path(@user), class: "btn btn-outline-info mx-auto  btn-sm mb-1"%>
                <% end %>
                <% if @user.email == 'k.nomoto1225@gmail.com' %>
                  ユーザー数<i class="fas fa-user-astronaut"></i><%= User.all.count %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="d-flex flex-column mt-2">
        <%= link_to join_path(@user), class: "btn btn-primary join-btn mt-2" do %>
          <i class="fas fa-sign-in-alt"></i> グループに参加する
        <% end %>
        <%= link_to new_mygroup_path, class: "btn btn-primary make-btn mt-2" do %>
          <i class="fas fa-hammer"></i> グループを作成する
        <% end %>
        <!--おみくじ表示-->
        <%= render partial: 'omikujis/show' %> 
        
      </div>
    </aside>
    
    <div class="col-sm-8 textsm mt-3">
      <div class="card">
        <% if @made_mygroups.presence || @mygroups.presence %>
          <div class="card-header c-height">
            <h5 class="card-title text-center">参加グループ一覧<span class="mg-left"><i class="far fa-flag"></i>あなたの作成したグループ</span></h5>
          </div>
          <table class="table table-style">
            <thead>
              <tr>
                <th style="width:20%"></th>
                <th style="width:28%">グループ名</th>
                <th style="width:20%">地域</th>
                <th style="width:32%">カテゴリ</th>
              </tr>
            </thead>
            <% @made_mygroups.each do |mygroup| %>
              <tbody>
                <tr>
                  <td><img class="rounded img-fluid mx-auto d-block" src="<%= mygroup.image.url %>" alt="グループアイコン" width="50" height="50"></td>
                  <td><i class="far fa-flag"></i>&ensp; <%= link_to mygroup.name.truncate(10, omission: '…'), mygroup_path(mygroup) %></td>              
                  <td><%= mygroup.area %></td>
                  <td><%= mygroup.category.truncate(10, omission: '…') %></td>
                </tr>
              </tbody>
            <% end %>
            
            <% @mygroups.each do |mygroup| %>
              <% if mygroup.user_id != current_user.id %>
                <tbody>
                  <tr>
                    <td><img class="rounded img-fluid mx-auto d-block" src="<%= mygroup.image.url %>" alt="グループアイコン" width="50" height="50"></td>
                    <td><%= link_to mygroup.name, mygroup_path(mygroup) %></td>
                    <td><%= mygroup.area %></td>
                    <td><%= mygroup.category %></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          <%= paginate @mygroups %>
        </table>
        <% else %>
          <div class="text-center mt-2">
            <p><i class="far fa-lightbulb" style="color:gold;"></i>【グループに参加する】ボタンからグループに参加できます。<br>
            ※ グループ名・グループIDが必要です。<br>グループ作成者にご確認ください。</p>
            <p><i class="far fa-lightbulb" style="color:gold;"></i>【グループを作成する】ボタンからグループを作成できます。</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="top-main">
    <div class="center jumbotron home">
      <div class="text-center top-title">
        <span>無料グループ情報共有サイト</span>
        <p>Groups</p>
      </div>
    </div>
    
    <div class="text-center about">
      <%= image_tag '/guestion.png' %>
      <h4>about Groups</h4>
      <p>Groups とは</p>
      <p>趣味の集まりやスポーツ団体など、<br>
        グループの情報共有サイトです。<br>
        グループのメンバー、グループの予定、<br>
        会計情報などを共有できます。<br><p/>
      <p class="txt-sm">※全ての機能を無料にてご利用いただけます。<br>
                        詳しい使い方は<%= link_to '【こちら】', how_to_use_path %>からご確認ください。</p>
    </div>
    
    <div class="about-images">
      <div class="sample">
        <div class='arrow_box'>参加グループ</div>
        <div class="sample_image"><img src="/join_groups.jpg" alt="参加グループ一覧サンプル"></div>
      </div>
      <div class="sample">
        <div class='arrow_box'>お知らせ</div>
        <div class="sample_image"><img src="/notices.jpg" alt="お知らせサンプル"></div>
      </div>
      <div class="sample">
        <div class='arrow_box'>メンバー</div>
        <div class="sample_image"><img src="/members.jpg" alt="メンバー一覧サンプル"></div>
      </div>
    </div>
    
    <div class="about-images2">
      <div class="sample">
        <div class='arrow_box'>予定</div>
        <div class="sample_image"><img src="/plans.jpg" alt="予定サンプル"></div>
      </div>
      <div class="sample">
        <div class='arrow_box'>会計</div>
        <div class="sample_image"><img src="/account.png" alt="会計サンプル"></div>
      </div>
    </div>
    
    <div class="text-center">
      <%= link_to signup_path, class: 'btn btn-lg mt-3 new-btn' do%>
        <%= image_tag '/newbtn.jpg' %>
      <% end %>
    </div>
  </div>
<% end %>