<div>
    <ol>
      <li><%= link_to'トップページ', root_path %></li>
      <li><%= link_to'新規登録', signup_path %></li>
      <li><%= link_to'ログイン画面', login_path %></li>
      <li><%= link_to'パスワード再発行', forget_path %></li>
      <li><%= link_to'利用規約', terms_path %></li>
      <li><%= link_to'プライバシーポリシー', privacy_policy_path %></li>
      <li><%= link_to'使い方', how_to_use_path %></li>
      <li><%= link_to'Q&A', question_path %></li>
      <li><%= link_to'お問い合わせ', new_inquiry_path %></li>
      <li><%= link_to'開発者ブログ', 'https://nomokotan.hatenablog.com/' %></li>
    </ul>
  </div>