<div class="text-center">
  <h1>予定詳細</h1>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">
        <div class="text-center nowrap">予定日時</div>
      </th>
      <td>
        <%= @plan.start_time.strftime("%Y-%m-%d") %>
        / <%= @plan.plan_at.strftime("%H:%M") %>～<%= @plan.plan_until.strftime("%H:%M") %>
      </td>
    </tr>
    <tr>
      <th scope="row">
        <div class="text-center nowrap">登録者</div>
      </th>
      <td><%= User.find(@plan.user_id).name %></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="text-center nowrap">タイトル</div>
      </th>
      <td><%= @plan.title %></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="text-center nowrap">内容</div>
      </th>
      <td><%= @plan.content %></td>
    </tr>
    <tr>
      <th scope="row">
        <div class="text-center nowrap">出席予定</div>
      </th>
      <td>
        <% @attendances.each do |a| %>
          <%= User.find(a.user_id).name %><span>,</span>
        <% end %>
        <p>計：<%= Attendance.where(plan_id: @plan.id).count %>人</p>
      </td>
    </tr>
    <% if @plan.add_title.present? %>
      <tr>
        <th scope="row">
          <div class="text-center nowrap">活動場所</div>
        </th>
        <td>
          <p><%= @plan.add_title %></p>
          <p>住所: <%= @plan.address %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      <% if @plan.address.present? %> 
        <div class="gmap-wrap"><div id="map"></div></div>
        
          <style>
            #map{
            height: 31.25rem;
            width: 100%;
            }
          </style>

          <script type="text/javascript">
              function initMap() {

                  var test ={lat: <%= @plan.latitude %>, lng: <%= @plan.longitude %>};
                  var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: test
                  });
                  var transitLayer = new google.maps.TransitLayer();
                  transitLayer.setMap(map);

                  var contentString = '住所：<%= @plan.address %>';
                  var infowindow = new google.maps.InfoWindow({
                      content: contentString
                  });

                  var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                  });

                  marker.addListener('click', function() {
                      infowindow.open(map, marker);
                  });
              }
          </script>

          <script async defer
                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
          </script>
     <% end %>


<div class="d-flex flex-column mt-2">
  <% if @plan.user_id == current_user.id %>
    <div class="btn btn-outline-info mx-auto  btn-sm mb-1">
      <%= link_to '編集する', edit_plan_url(mygroup_id: @plan.mygroup.id) %>
    </div>
    <div class="btn btn-outline-danger mx-auto  btn-sm mb-1">
      <%= link_to '削除する', @plan, method: :delete, data: { confirm: '本当に削除しますか？' }%>
    </div>
  <% end %>
  <div class="btn btn-outline-secondary mx-auto  btn-sm">
    <%= link_to '予定一覧に戻る', "/mygroups/#{@plan.mygroup_id}/plans" %>
  </div>
</div>